// White
$white: #FFFFFF;

// Black
$black: #000000;

// Gray
$gray-100: rgba(199, 178, 153, 0.4);
$gray-500: #8B8F93;

// Cyan
$cyan-blue: #0AB0A9;

// Pink
$pink: #D70669;

$colors: (
    "white": $white,
    "black": $black,
    "gray-100": $gray-100,
    "gray-500": $gray-500,
    "cyan-blue": $cyan-blue,
    "pink": $pink
);

// Background Colors
@mixin generate-bg-classes($color-name, $color-value) {
    .bg-#{$color-name} {
        background-color: $color-value !important;
    }

    @media (min-width: 576px) {
        .bg-sm-#{$color-name} {
            background-color: $color-value !important;
        }
    }

    @media (min-width: 768px) {
        .bg-md-#{$color-name} {
            background-color: $color-value !important;
        }
    }

    @media (min-width: 992px) {
        .bg-lg-#{$color-name} {
            background-color: $color-value !important;
        }
    }

    @media (min-width: 1200px) {
        .bg-xl-#{$color-name} {
            background-color: $color-value !important;
        }
    }

    @media (min-width: 1400px) {
        .bg-xxl-#{$color-name} {
            background-color: $color-value !important;
        }
    }
}

@each $color-name, $color-value in $colors {
    @include generate-bg-classes($color-name, $color-value);
}

// Text Colors
@mixin generate-text-classes($color-name, $color-value) {
    .text-#{$color-name} {
        color: $color-value !important;
    }

    @media (min-width: 576px) {
        .text-sm-#{$color-name} {
            color: $color-value !important;
        }
    }

    @media (min-width: 768px) {
        .text-md-#{$color-name} {
            color: $color-value !important;
        }
    }

    @media (min-width: 992px) {
        .text-lg-#{$color-name} {
            color: $color-value !important;
        }
    }

    @media (min-width: 1200px) {
        .text-xl-#{$color-name} {
            color: $color-value !important;
        }
    }

    @media (min-width: 1400px) {
        .text-xxl-#{$color-name} {
            color: $color-value !important;
        }
    }
}

@each $color-name, $color-value in $colors {
    @include generate-text-classes($color-name, $color-value);
}