@import './sizes.scss';

// Font sizes
@mixin generate-font-size-classes($size-name, $size-value) {
    .fs-#{$size-name} {
        font-size: $size-value !important;
    }

    @media (min-width: 576px) {
        .fs-sm-#{$size-name} {
            font-size: $size-value !important;
        }
    }

    @media (min-width: 768px) {
        .fs-md-#{$size-name} {
            font-size: $size-value !important;
        }
    }

    @media (min-width: 992px) {
        .fs-lg-#{$size-name} {
            font-size: $size-value !important;
        }
    }

    @media (min-width: 1200px) {
        .fs-xl-#{$size-name} {
            font-size: $size-value !important;
        }
    }

    @media (min-width: 1400px) {
        .fs-xxl-#{$size-name} {
            font-size: $size-value !important;
        }
    }
}

@each $size-name, $size-value in $sizes {
    @include generate-font-size-classes($size-name, $size-value);
}
