// 3.375rem = 54px
.mt-3_375 {
    margin-top: 3.375rem !important;
}

.mb-3_375 {
    margin-bottom: 3.375rem !important;
}

.ms-3_375 {
    margin-left: 3.375rem !important;
}

.me-3_375 {
    margin-right: 3.375rem !important;
}

.my-3_375 {
    margin-top: 3.375rem !important;
    margin-bottom: 3.375rem !important;
}

.mx-3_375 {
    margin-left: 3.375rem !important;
    margin-right: 3.375rem !important;
}

.m-3_375 {
    margin: 3.375rem !important;
}