// 3.375rem = 54px
.pt-3_375 {
    padding-top: 3.375rem !important;
}

.pb-3_375 {
    padding-bottom: 3.375rem !important;
}

.ps-3_375 {
    padding-left: 3.375rem !important;
}

.pe-3_375 {
    padding-right: 3.375rem !important;
}

.py-3_375 {
    padding-top: 3.375rem !important;
    padding-bottom: 3.375rem !important;
}

.px-3_375 {
    padding-left: 3.375rem !important;
    padding-right: 3.375rem !important;
}

.p-3_375 {
    padding: 3.375rem !important;
}